@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.painel {
    background-color: #0f9965;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.painel button {
    width: 10%;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #ffffff;
    color: #0f9965;
    font-weight: bold;
    cursor: pointer;
} 

.cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.section {
    background-color: rgb(220, 220, 220);
    width: 100%;
}

.section h1 {
    color: #0f9965;
    margin-left: 6rem;
}

.titleSection {
    display: flex;
    flex-direction: row;
    gap: 37rem;
    color: #1d9f6d;
    align-items: center;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #51d69f;
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
}

.news {
    color: #ffffff;
}

.info {
    color: #ffffff;
}

.inputnews {
    border-radius: 5px;
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.emailnews {
    width: 15rem;
    height: 2rem;
    border-radius: 5px 0px 0px 5px;
    border: solid 1px #ffffff;
}

.assinar {
    background-color: #fe5977;
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
    height: 2.2rem;
    border: none;
    border: solid 1px #ffffff;
}