.categories {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #0f9965;
  flex-direction: column;
  width: auto;
  height: auto;
  align-self: center;
}

.title {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: #fe5977;
  justify-content: center;
  background-color: #0f9965;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: #0f9965;
  gap: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  color: #84cbb0;
  text-decoration: none;
  font-size: 0.8rem;
  justify-content: center;
  cursor: pointer;
}