.footer {
    background-color: #0f9965;
    color: white;
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.headerRow {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 20px;
}

.title {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    width: 15rem;
}

.subtitle {
    display: flex;
    font-size: 1.3rem;
    text-align: justify;
    width: 10rem;
    color : #84cbb0;
}

.license{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #84cbb0;
    cursor: pointer;
}

.copyright {
    display: flex;
    font-size: 1rem;
    color: #84cbb0;
    cursor: pointer;
}

.terms {
    display: flex;
    font-size: 1rem;
    margin-right: 2rem;
    color: #84cbb0
}