.navegation ul {
    display: flex;
    flex-direction: row;
    width: 25%;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
}

.navegation ul li {
    color: #000000;
    text-decoration: none;
}
.navegation ul li:hover {
    transform: scale(1.2);
    color: #0f9965;
    text-decoration: underline;
}